$color-primary: linear-gradient(to right, #ef4b4d, #e13d7b);
$color-white: #fff;
$color-gray-light-1: #e5e5e5;
$color-gray-light-2: #d9d9d9;
$color-dark-1: #1f1f1f;
$color-dark-2: #272727;
$color-dark-3: #161616;
$box-shadow-cards: 0 1rem 4rem rgba(0, 0, 0, 0.4);
$cards-border-radius: 10px;
$cubic: cubic-bezier(0.82, 0.47, 0, 1.06);
@mixin links {
  a:link,
  a:visited,
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
@mixin links-image {
  a:link,
  a:visited,
  a:hover {
    text-decoration: none;
    color: transparent;
  }
}

@mixin translate {
  transform: translateY(2px);
}
@mixin clearfix {
  display: inline-block;
  content: "";
  clear: both;
}

////CARDS ANIMATION
@keyframes flip-one {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flip-two {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform: translatey(10rem);
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px=62.5%
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 10rem 1fr 37rem;

  color: $color-white;
}
